.container {
	background-color: orangered;
	color: white;
	display: flex;
	flex-wrap: wrap;
}

header {
	text-transform: uppercase;

}

.lewastrona {
	text-transform: uppercase;
	background-color: green;
	color: white;
	height: 300px;
}

.srodek {
	text-transform: uppercase;
	background-color: blue;
	color: white;
	height: 300px;
}

.prawastrona {
	text-transform: uppercase;
	background-color: pink;
	color: white;
}

.stopka {
	text-transform: uppercase;
	background-color: purple;
	color: white;
}

header,
main,
aside,
footer {
	flex-basis: 100%;
	text-align: center;
	font-size: 30px;
}

header {
	order: 1;
}

main {
	order: 2;
}

aside.lewastrona {
	order: 3;
}

aside.prawastrona {
	order: 4;
}

footer {
	order: 5;
}

header,
main,
aside,
footer {
	flex-basis: 100%;
}

@media screen and (min-width: 768px) {
	main {
		flex-basis: 75%;
	}

	aside.lewastrona {
		order: 4;
	}

	aside.prawastrona {
		order: 3;
		flex-basis: 25%;
	}
}

@media screen and (min-width: 992px) {
	main {
		flex-basis: 50%;
		order: 3;
	}

	aside.lewastrona {
		flex-basis: 25%;
		order: 2;
	}

	aside.prawastrona {
		order: 3;
		flex-basis: 25%;
	}
}